.main-chat
  .main-header
    .main-box
      .main-group
        グループ名
      .main-member
        メンバー名:
    .edit
      = link_to "#", class: "edit__btn" do
        グループ編集
  .message
    .message-vew
      .member
        メンバー名
      .date
        日付
    .comment-box
      メッセージ表示
    .message-vew
      .member
        メンバー名
      .date
        日付
    .comment-box
      メッセージ表示